<!-- custom table -->
<div class="cms-table">
    <div class="cms-thead">
        <div class="cms-th">
            #
        </div>
        
        <div class="cms-th">
            Title
        </div>
        <div class="cms-th">
            Author
        </div>
        <div class="cms-th">
            Created Time
        </div>
        
    </div>
    <div class="cms-body">
        {% for list_item in list %}
        <div class="cms-tr-container">
            <div class="cms-tr">
                <div class="cms-td">
                    {{list_item.id}}
                </div>
                <div class="cms-td">
                    {{list_item.title}}
                </div>
                <div class="cms-td">
                    {{list_item.author}}
                </div>
                <div class="cms-td">
                    {{list_item.created_time}}
                </div>
            </div>
            <div class="cms-table-detail">
                {{list_item.detail_html}}
            </div>
        </div>
        {% endfor %}
        
        
    </div>
</div>
<!-- custom table -->