{% extends "./dash-layouts/dash-base.html" %}

{% block main %}
    <section class="header">
        <h2 class="h3">{{ post_type_info.name }}</h2>
    </section>
    <hr>
    <section class="body">
        <p class="description">"{{post_type_info.description}}"</p>
        
        {% include "./widgets/table.html" with list=posts %}
    </section>
{% endblock main %}

{% block css %}

{% endblock css %}

{% block js %}

{% endblock js %}

{% block title %}
 {{header}} Add New
{% endblock title %}